@charset "utf-8";
/* CSS Document */

h2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #F00;	
	}
h4{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #0F0;
	}	#JJ {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #00F;
}
li{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #930;
	text-decoration: underline;
	list-style-type: upper-alpha;
}
